anyio==3.3.4
asgiref==3.4.1
boto==2.49.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cpu-load-generator==1.2.0
ec2-metadata==2.5.0
fastapi==0.70.0
fastapi-utils==0.2.1
h11==0.12.0
idna==3.3
psutil==5.8.0
pydantic==1.8.2
requests==2.26.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
